body {
    background: #fff;
    color: #1d2129;
    
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    
    
    height:1000px;
    width: 800px;
  font-size: 300%;
}