body {
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    margin-top:75px;
    margin-bottom:75px;
    margin-left:75px;
    margin-right:7px;
    
    height:1000px;
    width: 800px;
  font-size: 300%;
}